SUPABASE_URL = "https://xxxx.supabase.co"
SUPABASE_KEY = "sb_publishable_..."
SUPABASE_DB_PASSWORD = "tu_password"
SUPABASE_POOLER_REGION = "eu-west-1"

GEMINI_API_KEY = "AIza..."
ALPHA_VANTAGE_KEY = "tu_key"
TELEGRAM_BOT_TOKEN = "xxxxx:AAH..."
TELEGRAM_CHAT_ID = "tu_chat_id"
STREAMLIT_URL = "https://tu-app.streamlit.app"
